PORT=8080
JWT_SECRET=my-super-secret-key-12345
JWT_REFRESH_SECRET=my-super-secret-refresh-key-67890
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
# DB_PASSWORD=postgres
DB_NAME=auth_service
DB_SSLMODE=disable
